html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #000 !important;
  text-decoration: none;
}

a:hover {
  color:  #000;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: white !important;
}

.right-nav {
  margin-right: 35px;
}

#responsive-navbar-nav {
  padding-left: 35px;
}

.brand {
  padding-left: 35px;
  font-size: 2.5em !important;
}

.posts-container {
  padding-left: 50px !important;
  padding-right: 50px !important;
  margin-top: 70px;
}

.post-title {
  font-size: 22px;
  font-family: serif;
  margin-top: 10px;
  margin-bottom: 0;
}

.post-blurb {
  margin: 0;
  font-size: 10px;
  font-family: sans-serif;
}

.post-listing {
  margin-top: 30px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.post-tag {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.post-container {
  padding-left: 50px !important;
  padding-right: 50px !important;
  margin-top: 70px
}

.post-body {
  top: 100px;
  text-align: justify;
}

.post-body img {
  width: 100%;
  margin-top: 30px;
}

.post-text {
  margin-top: 30px;
}

.post-images {
  padding: 0 !important;
}

.image-gallery {
  padding: 0 !important;
}

.gallery-image {
  margin-top: 30px;
}

.gallery-image img {
  width: 100%;
}

.carousel-container {
  margin-top: 15px;
  overflow-x: visible;
}

.carousel-slide {
  padding: 15px;
}

.carousel-slide img {
  width: 100%;
}

.carousel-slide a,  a:hover {
  color: #000 !important;
}

.carousel-button-right {
  height: 70px;
  width: 20px;
  background: url("https://res.cloudinary.com/phonetag/image/upload/v1607835690/RightButton_fwajnr.png") no-repeat center;
  position: absolute;
  border: none;
  right: 5px;
}

.carousel-button-left {
  height: 70px;
  width: 20px;
  background: url("https://res.cloudinary.com/phonetag/image/upload/v1607836031/LeftButton_njl9qd.png") no-repeat center;
  position: absolute;
  border: none;
  left: 5px;
}

.carousel-title {
  float: left;
  margin-top: 15px;
  width: 50%;
}

.carousel-shop {
  text-align: right;
  float: right;
  margin-top: 15px;
  width: 50%;
}

.clear {
  clear: both;
}

.footer {
  margin-top: 100px;
  background-color: #DBCDCD;
  height: 200px;
}

.footer hr {
  margin-top: 20px;
}
